### Importing Libaries

In [106]:
import pandas as pd
import numpy as np

### Loeading data

In [107]:
df = pd.read_csv("tasutud_maksud_2024_iv_kvartal.csv", delimiter=";")

### Data overview

In [108]:
def clean_data(df):

    missing_count = df.isnull().sum().sum()
    duplicate_count = df.duplicated().sum()

    print(f"Missing values in dataset: {missing_count}")
    print(f"Duplicate rows in dataset: {duplicate_count}")

    return df


df = clean_data(df)
df.head()

Missing values in dataset: 292914
Duplicate rows in dataset: 0

,Registrikood,Nimi,Liik,Registreeritud käibemaksukohustuslaste registrisse,"EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga",Maakond,Riiklikud Maksud,Tööjõumaksud Ja Maksed,Kaive,Tootajaid
0,01834575,"KUNDERI 24, GARAAŽIKOOPERATIIV",Äriühing,ei,NaN,Harju ( Tallinn ),"267,57",0,NaN,NaN
1,10000018,AMSERV AUTO OSAÜHING,Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,Harju ( Tallinn ),"1599978,73","1162262,12","40775153,23",239.0
2,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,INFO JA SIDE,Harju ( Tallinn ),"39120,85","32083,72","260141,92",11.0
3,10000062,ALDO KOPPEL,FIE,jah,"PÕLLUMAJANDUS, METSAMAJANDUS JA KALAPÜÜK",Ida-Viru ( Lüganuse vald ),"319,21",0,"3289,32",NaN
4,10000127,"ARAVETE APTEEK, TÜ",Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,Järva ( Järva vald ),"12080,03","8021,03","198645,63",2.0

In [109]:
def show_missing():
    missing = df.columns[df.isnull().any()].tolist()
    return missing


print("Missing Data Count")
print(df[show_missing()].isnull().sum().sort_values(ascending=False))
print("--" * 15)
print("Missing Data Percentage")
print(
    round(
        df[show_missing()].isnull().sum().sort_values(ascending=False) / len(df) * 100,
        2,
    )
)

Missing Data Count
Tootajaid                                                                  101274
Kaive                                                                       67514
Riiklikud Maksud                                                            36370
Tööjõumaksud Ja Maksed                                                      36370
Maakond                                                                     30476
EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga     20910
dtype: int64
------------------------------
Missing Data Percentage
Tootajaid                                                                  53.42
Kaive                                                                      35.61
Riiklikud Maksud                                                           19.18
Tööjõumaksud Ja Maksed                                                     19.18
Maakond                                                                    16.07
EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga    11.03
dtype: float64

### Data Cleaning

Renaming columns "Kaive" and "Tootajad" to correct names

In [110]:
df.rename(columns={"Tootajaid": "Töötajad"}, inplace=True)
df.rename(columns={"Kaive": "Käive"}, inplace=True)

Column "registrikood" - adjusting column for visualisations, Registrikood isn't needed for visualization and is dropped from dataframe.

In [111]:
df.drop(columns=["Registrikood"], inplace=True)

Adjusting column "EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga"

In [ ]:
df["EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga"] = df[
    "EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga"
].str.capitalize()

df["EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga"] = df[
    "EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga"
].fillna("määramata")

Column "maakond" - adjusting column for visualisations
- Split column to "maakond" and "keskus"

In [113]:
df["Maakond keskusega"] = df["Maakond"]
df[["Maakond", "Keskus"]] = df["Maakond"].str.extract(r"(.+?)\s*\(\s*(.+?)\s*\)")

print(df.head())

                             Nimi      Liik  \
0  KUNDERI 24, GARAAŽIKOOPERATIIV  Äriühing
1            AMSERV AUTO OSAÜHING  Äriühing
2                EESTI RAAMAT, OÜ  Äriühing
3                     ALDO KOPPEL       FIE
4              ARAVETE APTEEK, TÜ  Äriühing

  Registreeritud käibemaksukohustuslaste registrisse  \
0                                                 ei
1                                                jah
2                                                jah
3                                                jah
4                                                jah

  EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga  \
0                                          määramata
1  Hulgi- ja jaekaubandus; mootorsõidukite ja moo...
2                                       Info ja side
3           Põllumajandus, metsamajandus ja kalapüük
4  Hulgi- ja jaekaubandus; mootorsõidukite ja moo...

    Maakond Riiklikud Maksud Tööjõumaksud Ja Maksed        Käive  Töötajad  \
0     Harju           267,57                      0          NaN       NaN
1     Harju       1599978,73             1162262,12  40775153,23     239.0
2     Harju         39120,85               32083,72    260141,92      11.0
3  Ida-Viru           319,21                      0      3289,32       NaN
4     Järva         12080,03                8021,03    198645,63       2.0

            Maakond keskusega         Keskus
0           Harju ( Tallinn )        Tallinn
1           Harju ( Tallinn )        Tallinn
2           Harju ( Tallinn )        Tallinn
3  Ida-Viru ( Lüganuse vald )  Lüganuse vald
4        Järva ( Järva vald )     Järva vald

In [114]:
df["Maakond"] = df["Maakond"].fillna("määramata")

print(df.head())

                             Nimi      Liik  \
0  KUNDERI 24, GARAAŽIKOOPERATIIV  Äriühing
1            AMSERV AUTO OSAÜHING  Äriühing
2                EESTI RAAMAT, OÜ  Äriühing
3                     ALDO KOPPEL       FIE
4              ARAVETE APTEEK, TÜ  Äriühing

  Registreeritud käibemaksukohustuslaste registrisse  \
0                                                 ei
1                                                jah
2                                                jah
3                                                jah
4                                                jah

  EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga  \
0                                          määramata
1  Hulgi- ja jaekaubandus; mootorsõidukite ja moo...
2                                       Info ja side
3           Põllumajandus, metsamajandus ja kalapüük
4  Hulgi- ja jaekaubandus; mootorsõidukite ja moo...

    Maakond Riiklikud Maksud Tööjõumaksud Ja Maksed        Käive  Töötajad  \
0     Harju           267,57                      0          NaN       NaN
1     Harju       1599978,73             1162262,12  40775153,23     239.0
2     Harju         39120,85               32083,72    260141,92      11.0
3  Ida-Viru           319,21                      0      3289,32       NaN
4     Järva         12080,03                8021,03    198645,63       2.0

            Maakond keskusega         Keskus
0           Harju ( Tallinn )        Tallinn
1           Harju ( Tallinn )        Tallinn
2           Harju ( Tallinn )        Tallinn
3  Ida-Viru ( Lüganuse vald )  Lüganuse vald
4        Järva ( Järva vald )     Järva vald

Normalize column names to avoid hidden characters and replace commas and convert to float

In [115]:
print(df.columns.tolist())
df.columns = df.columns.str.strip().str.replace("\xa0", " ").str.replace(" ", " ")

for col in ["Tööjõumaksud Ja Maksed", "Käive", "Riiklikud Maksud"]:
    df[col] = df[col].astype(str).str.replace(",", ".")
    df[col] = pd.to_numeric(df[col], errors="coerce")

print(df.head())

['Nimi', 'Liik', 'Registreeritud käibemaksukohustuslaste registrisse', 'EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga', 'Maakond', 'Riiklikud Maksud', 'Tööjõumaksud Ja Maksed', 'Käive', 'Töötajad', 'Maakond keskusega', 'Keskus']
                             Nimi      Liik  \
0  KUNDERI 24, GARAAŽIKOOPERATIIV  Äriühing
1            AMSERV AUTO OSAÜHING  Äriühing
2                EESTI RAAMAT, OÜ  Äriühing
3                     ALDO KOPPEL       FIE
4              ARAVETE APTEEK, TÜ  Äriühing

  Registreeritud käibemaksukohustuslaste registrisse  \
0                                                 ei
1                                                jah
2                                                jah
3                                                jah
4                                                jah

  EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga  \
0                                          määramata
1  Hulgi- ja jaekaubandus; mootorsõidukite ja moo...
2                                       Info ja side
3           Põllumajandus, metsamajandus ja kalapüük
4  Hulgi- ja jaekaubandus; mootorsõidukite ja moo...

    Maakond  Riiklikud Maksud  Tööjõumaksud Ja Maksed        Käive  Töötajad  \
0     Harju            267.57                    0.00          NaN       NaN
1     Harju        1599978.73              1162262.12  40775153.23     239.0
2     Harju          39120.85                32083.72    260141.92      11.0
3  Ida-Viru            319.21                    0.00      3289.32       NaN
4     Järva          12080.03                 8021.03    198645.63       2.0

            Maakond keskusega         Keskus
0           Harju ( Tallinn )        Tallinn
1           Harju ( Tallinn )        Tallinn
2           Harju ( Tallinn )        Tallinn
3  Ida-Viru ( Lüganuse vald )  Lüganuse vald
4        Järva ( Järva vald )     Järva vald

In [116]:
df["Brutopalk kvartalis"] = np.where(
    (df["Tööjõumaksud Ja Maksed"].notna()) & (df["Tööjõumaksud Ja Maksed"] > 0),
    df["Tööjõumaksud Ja Maksed"] / 1.338,
    np.nan,  # If Tööjõumaksud is blank or 0, set result as NaN
)

# Keskmine brutokuupalk: Handling cases where Töötajad is NaN or 0
df["Keskmine brutokuupalk"] = np.where(
    (df["Brutopalk kvartalis"].notna())
    & (df["Töötajad"].notna())
    & (df["Töötajad"] > 0),
    df["Brutopalk kvartalis"] / (3 * df["Töötajad"]),
    np.nan,  # If Brutopalk kvartalis or Töötajad is blank or 0, set result as NaN
)
df = df[df["Keskmine brutokuupalk"] > 0].dropna(subset=["Keskmine brutokuupalk"])
print(df.head())

                           Nimi      Liik  \
1          AMSERV AUTO OSAÜHING  Äriühing
2              EESTI RAAMAT, OÜ  Äriühing
4            ARAVETE APTEEK, TÜ  Äriühing
5         KIVIÕLI KAUBAHOOV, AS  Äriühing
6  ITW CONSTRUCTION PRODUCTS OÜ  Äriühing

  Registreeritud käibemaksukohustuslaste registrisse  \
1                                                jah
2                                                jah
4                                                jah
5                                                jah
6                                                jah

  EMTAK tegevusvaldkond, mis on EMTAKi struktuuris tähistatud tähtkoodiga  \
1  Hulgi- ja jaekaubandus; mootorsõidukite ja moo...
2                                       Info ja side
4  Hulgi- ja jaekaubandus; mootorsõidukite ja moo...
5  Hulgi- ja jaekaubandus; mootorsõidukite ja moo...
6  Hulgi- ja jaekaubandus; mootorsõidukite ja moo...

    Maakond  Riiklikud Maksud  Tööjõumaksud Ja Maksed        Käive  Töötajad  \
1     Harju        1599978.73              1162262.12  40775153.23     239.0
2     Harju          39120.85                32083.72    260141.92      11.0
4     Järva          12080.03                 8021.03    198645.63       2.0
5  Ida-Viru         148420.48                84688.77   1288012.97      35.0
6     Harju         112443.66                17593.60    785439.22       3.0

            Maakond keskusega         Keskus  Brutopalk kvartalis  \
1           Harju ( Tallinn )        Tallinn        868656.292975
2           Harju ( Tallinn )        Tallinn         23978.863976
4        Järva ( Järva vald )     Järva vald          5994.790732
5  Ida-Viru ( Lüganuse vald )  Lüganuse vald         63295.044843
6           Harju ( Tallinn )        Tallinn         13149.177877

   Keskmine brutokuupalk
1            1211.515053
2             726.632242
4             999.131789
5             602.809951
6            1461.019764

### Saving cleaned data

In [117]:
df.to_csv(
    "tasutud_maksud_2024_iv_kvartal_cleaned.csv", sep=";", decimal=".", index=False
)